@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: normal;
    src: url('IRANSans4/normal/IRANSansWeb(FaNum).eot');
    src: url('IRANSans4/normal/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('IRANSans4/normal/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('IRANSans4/normal/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('IRANSans4/normal/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
    font-family: IRANSansBold;
    font-style: normal;
    font-weight: normal;
    src: url('IRANSans4/bold/IRANSansWeb(FaNum)_Bold.eot');
    src: url('IRANSans4/bold/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('IRANSans4/bold/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('IRANSans4/bold/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('IRANSans4/bold/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansLight;
    font-style: normal;
    font-weight: normal;
    src: url('IRANSans4/light/IRANSansWeb(FaNum)_Light.eot');
    src: url('IRANSans4/light/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('IRANSans4/light/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('IRANSans4/light/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('IRANSans4/light/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSansMedium;
    font-style: normal;
    font-weight: normal;
    src: url('IRANSans4/medium/IRANSansWeb(FaNum)_Medium.eot');
    src: url('IRANSans4/medium/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('IRANSans4/medium/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('IRANSans4/medium/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('IRANSans4/medium/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

body, html {
    font-family: IRANSansWeb, Tahoma !important;
}